<section>
    

        

    
    <div class="container">
        

        
    <table class="table mt-5">
  <thead>
    <tr>
      <th scope="col">date</th>
      <th scope="col">address</th>
      <th scope="col">pincode</th>
      <th scope="col">mobile</th>
      <th>total</th>
      <th>payment</th>
      <th>status</th>
    </tr>
  </thead>
  <tbody>
    {{#each orders}}
    <tr>
      
      <td>{{this.date}}</td>
      <td>{{this.deliveryDetails.address}}</td>
      <td>{{this.deliveryDetails.pincode}}</td>
      <td>{{this.deliveryDetails.mobile}}</td>
      <td>{{this.totalAmount}}</td>
      <td>{{this.paymentMethod}}</td>
      <td>{{this.status}}</td>
     
      <td>
        <a href="/view-order-products/{{this._id}}" class="btn btn-primary">View product</a>
        
      </td>
      
    </tr>
    {{/each}}
   
   
  </tbody>
</table>
</div>
</section>